{% extends "base.html" %} 
{% block content %} 

{% if requireLogin == 0 %}
<div class="alert alert-danger mt-2 ml-1 mr-1" role="alert">
    <i class="material-icons small text-danger">info</i>
    <span class="text-danger">ログインが必要です！</span>
</div>
{% endif %}

<div class="card mt-2 ml-1 mr-1">
        <div class="card-body" style="background-color: #e6ee9c">
            <p class="card-text text-black">
                    下のテキストボックスにインスタンスのドメイン名を入れてボタンをクリックするとログインページに移動します。<br />
                    このサービスではログインの際、<span class="text-danger bg-dark">アカウント情報の読み取り(read:accounts)</span>の権限を要求します。<br />
                    これはアカウントの所有確認を行うためのものなので、所有確認の終了後<span class="text-danger bg-dark">アクセストークンは即刻破棄</span>します。<br />
                    もしアクセス権を残すことに抵抗がある場合は、<span class="text-primary">oauth/authorized_applications</span>から<span class="text-danger bg-dark">獅子の黄金 アカウント確認</span>へのアクセス権を削除してください<br />
                    これによってサービスが利用できなくなることはありません。
            </p>
            <form class="form-inline" style="width: 100%">
                <span class="mt-2 mr-sm-2">https://</span>
                <label class="sr-only" for="inlineFormHostDomain">インスタンスのドメイン名</label>
                <input type="text" class="form-control mr-sm-2" style="width: 70%" id="inlineFormHostDomain" name="host_domain" placeholder="インスタンスのドメイン名" />
                <span class="mt-2 mr-sm-2">/</span>
                <input class="btn btn-primary ml-3" type="submit" value="OAuth!" formaction="/regulusaurum/jump" formmethod="POST" />
            </form>
        </div>
    </div>

{% endblock %}