{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card blue darken-2">
            <div class="card-content white-text">
                <span class="card-title">TuskyEx Kyori Build</span>
                <p>
                    Android向けmastodonクライアントアプリ、Tuskyを改良して独自機能を搭載したアプリです<br />
                    機能要望等あれば連絡してくだされば超がんばります
                </p>
            </div>
            <div class="card-action">
                <a href="/tuskyex" class="yellow-text">ダウンロード</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card yellow darken-2">
            <div class="card-content white-text">
                <span class="card-title">EasyTootSaver</span>  <span class="cyan-text"><ruby>獅子の黄金<rt>レグルス・アウルム</rt></ruby></span>
                <p>
                    引用BT(若しくはリンク入りトゥート)を利用してトゥートを保存しておけるツールです！<br />
                    あなたのアカウントを利用してトゥートしたりすることはありません！
                </p>
            </div>
            <div class="card-action">
                <a href="/regulusaurum" class="blue-text">利用開始・ログイン</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}