{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card yellow darken-2">
            <div class="card-content white-text">
                <span class="card-title">EasyTootSaver</span>  <span class="cyan-text"><ruby>獅子の黄金<rt>レグルス・アウルム</rt></ruby></span>
                <p>
                    引用BT(若しくはリンク入りトゥート)を利用してトゥートを保存しておけるツールです！<br />
                    あなたのアカウントを利用してトゥートしたりすることはありません！
                </p>
            </div>
            <div class="card-action">
                <a href="/regulusaurum" class="blue-text">利用開始・詳細</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}