{% extends "base.html" %}
{% block content %}

<div>
    <div class="card mt-2 ml-1 mr-1">
        <div class="card-body" style="background-color: #1976d2">
            <h5 class="card-title text-white">TuskyEx Kyori Build</h5>
            <p class="card-text text-white">
                Android向けmastodonクライアントアプリ、Tuskyを改良して独自機能を搭載したアプリです<br />
                機能要望等あれば連絡してくだされば超がんばります
            </p>
            <a href="/tuskyex" class="card-link" style="color: #ffeb3b">ダウンロード</a>
        </div>
    </div>

    <div class="card mt-1 ml-1 mr-1">
            <div class="card-body" style="background-color: #fbc02d">
                <h5 class="card-title text-white">EasyTootSaver</h5>
                <h6 class="card-subtitle" style="color: #0097a7"><ruby>獅子の黄金<rt>レグルス・アウルム</rt></ruby></h6>
                <p class="card-text text-white">
                    引用BT(若しくはリンク入りトゥート)を利用してトゥートを保存しておけるツールです！<br />
                    あなたのアカウントを利用してトゥートしたりすることはありません！
                </p>
                <a href="/regulusaurum" class="card-link" style="color: #2196f3">利用開始・ログイン</a>
            </div>
        </div>
</div>

{% endblock %}