{% extends "base.html" %}
{% block content %}

<ul class="collection with-header">
    <li class="collection-header"><h3>Mastodon Accounts</h3></li>
    <li class="collection-item"><div>@ars42525@odakyu.app<a href="https://odakyu.app/@ars42525" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@ars42525@itabashi.0j0.jp<a href="https://itabashi.0j0.jp/@ars42525" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@admin@odakyu.app<a href="https://odakyu.app/@admin" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@ar0_yk@mstdn.jp<a href="https://mstdn.jp/@ar0_yk" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@ar0_yk@odakyu.app<a href="https://odakyu.app/@ar0_yk" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@a@odakyu.app<a href="https://odakyu.app/@a" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@kyori@mstdn.jp<a href="https://mstdn.jp/@kyori" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-header"><h3>Twitter</h3></li>
    <li class="collection-item"><div>@ars42525<a href="https://twitter.com/@ars42525" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>@ar0_yk<a href="https://twitter.com/@ar0_yk" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-header"><h3>Other Contacts</h3></li>
    <li class="collection-item"><div>Github<a href="https://github.com/kyori19" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
    <li class="collection-item"><div>kyori.dis@gmail.com<a href="mailto:kyori.dis@gmail.com" class="secondary-content"><i class="material-icons">launch</i></a></div></li>
</ul>

{% endblock %}