{% extends "base.html" %}
{% block content %}

<ul class="list-group mt-2 mb-2 ml-1 mr-1">
    <li class="list-group-item list-group-item-primary">Mastodon Accounts</li>
    <a href="https://odakyu.app/@ars42525" class="list-group-item list-group-item-action">@ars42525@odakyu.app</a>
    <a href="https://itabashi.0j0.jp/@ars42525" class="list-group-item list-group-item-action">@ars42525@itabashi.0j0.jp</a>
    <a href="https://odakyu.app/@admin" class="list-group-item list-group-item-action">@admin@odakyu.app</a>
    <a href="https://mstdn.jp/@ar0_yk" class="list-group-item list-group-item-action">@ar0_yk@mstdn.jp</a>
    <a href="https://odakyu.app/@ar0_yk" class="list-group-item list-group-item-action">@ar0_yk@odakyu.app</a>
    <a href="https://odakyu.app/@a" class="list-group-item list-group-item-action">@a@odakyu.app</a>
    <a href="https://mstdn.jp/@kyori" class="list-group-item list-group-item-action">@kyori@mstdn.jp</a>
    <li class="list-group-item list-group-item-danger">Misskey Accounts</li>
    <a href="https://misskey.xyz/@ar" class="list-group-item list-group-item-action">@ar@misskey.xyz</a>
    <li class="list-group-item list-group-item-info">Twitter</li>
    <a href="https://twitter.com/@ars42525" class="list-group-item list-group-item-action">@ars42525</a>
    <a href="https://twitter.com/@ar0_yk" class="list-group-item list-group-item-action">@ar0_yk</a>
    <li class="list-group-item list-group-item-success">Other Contacts</li>
    <a href="https://github.com/kyori19" class="list-group-item list-group-item-action">Github</a>
    <a href="mailto:kyori.dis@gmail.com" class="list-group-item list-group-item-action">kyori.dis@gmail.com</a>
</ul>

{% endblock %}