{% extends "base.html" %}
{% block content %}

<div class="text-white">
    <h3 class="text-center">TuskyEx Kyori Build</h3>
    <p>
        自分と板橋丼の為に作ったmastodonクライアントアプリです<br />
        ベースは<a href="https://github.com/tuskyapp/Tusky">Tusky</a>です、勝手に使いましたありがとうございます
    </p>
    <p>
        ソースは<a href="https://github.com/kyori19/Tusky">こちら</a>、神によるプルリクをお待ちしております<br />
        あとだれかREADME書いてくださいおねがいします
    </p>
    <div class="alert alert-warning">
        <div class="align-middle">
            <i class="material-icons small text-warning">info</i><span class="text-warning">初回インストール時の注意</span><br />
        </div>
        もし他のバージョンの(他の作者の)Tuskyがインストールされている場合、インストール時にエラーが表示されます<br />
        その際はそのTuskyをアンインストールしてください<br />
        もし複数個のTuskyをインストールしたいとの要望があれば、対策しますので連絡お願いします
    </div>
    {% for item in view_array %}
        <h5><a href="{{ item.apk_url }}">{{ item.version }}</a></h5>
        <p>{{ item.content | safe }}</p>
    {% endfor %}
</div>

{% endblock %}